.consolas__container{
    width: 100%;
    height: auto;
    min-height: calc(100vh - 60px);
}

.consolas__bar{
    width: 90%;
    height: 25px;
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.consolas__container__title{
    width: 45%;
    height: auto;
}

.consolas__title{
    color: #0072C6;
    font-size: 22px;
    font-weight: 800;
}

.consolas__container__add{
    width: 45%;
    height: auto;
    text-align: right;
}

.consolas__add__btn{
    background: #0072C6;
    color: white;
    height: 35px;
    border: none;
    border-radius: 2px;
}

/*                                           Tarjetas e imágen                                  */
.consolas__container__line{
    width: 95%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 20px;
    margin: 0 auto;
}

.consolas__card{
    background: white;
    width: 15%;
    height: auto;
    display: flex;
    padding: 2px;
    flex-direction: column;
    align-items: center;
    border-radius: 2px;
    box-shadow: 0 0 1px 1px rgba(123, 144, 253, 0.2);
}

.consolas__card .hidden{
    display: block;
}

.consolas__img{
    width: 90%;
    border-radius: 2px;
    margin-top: 5%;
    box-shadow: 0 0 1px 1px rgba(123, 144, 253, 0.2);
}

.consolas__card:hover{
    box-shadow: 0 0 14px 1px rgba(248, 186, 14, 1);
    cursor: pointer;
}

/*                                           Datos del artículo                                  */
.consolas__container__data{
    width: 90%;
    height: 100px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.consolas__data__name{
    margin: 0;
    font-size: 20px;
}

.consolas__data__price{
    margin: 0;
    font-size: 24px;
    margin: 10px 0;
}

.consolas__data__link{
    text-decoration: none;
    font-size: 18px;
}

@media (max-width: 1300px){
    .consolas__card{
        width: 20%;
    }
}

@media (max-width: 800px){
    .consolas__card{
        width: 25%;
    }
}

@media (max-width: 600px){
    .consolas__card{
        width: 40%;
    }
}

@media (max-width: 500px){
    .crud__card{
        width: 45%;
    }
}