.div1{
    background: #0072C6;
    width: 100px;
    height: 100px;
}
.div2{
    background: #3E3E53;
    width: 100px;
    height: 100px;
}
.div3{
    background: #FFFFFF;
    width: 100px;
    height: 100px;
}
.div4{
    background: #44C767;
    width: 100px;
    height: 100px;
}
.div5{
    background: #FFA500;
    width: 100px;
    height: 100px;
}
.div6{
    background: #FF0000;
    width: 100px;
    height: 100px;
}