.products__container{
    width: 100%;
    height: auto;
    min-height: 40vh;
    padding-bottom: 80px;
}

.products__bar{
    width: 95%;
    height: 25px;
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    align-items: flex-end;
}

.product__container__title{
    width: 50%;
    height: auto;
    padding-left: 20px;
}

.product__title{
    color: #0072C6;
    font-size: 22px;
    font-weight: 700;
}

.product__container__link{
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    padding-right: 20px;
}

.product__link{
    color: #0072C6;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
}

/*                                           Tarjetas e imágen                                  */
.products__container__line{
    width: 95%;
    height: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 20px;
    padding: 20px 20px;
    margin: 0 auto;
}

/* .color__blur{
    background: #0072C6;
    position: absolute;
    width: 15%;
    height: auto;
    margin: auto;
    filter: blur(30px);
} */

.products__card{
    position: relative;
    width: 15%;
    height: auto;
    display: flex;
    padding: 2px;
    flex-direction: column;
    align-items: center;
    border-radius: 2px;
    box-shadow: 0 0 1px 1px rgba(123, 144, 253, 0.2);
}

.products__btn{
    background: #FFA500;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    z-index: 1;
    visibility: hidden;
    box-shadow: 0 0 5px 1px rgba(123, 144, 253, 0.2);
    cursor: pointer;
}

.material-symbols-outlined{
    color: white;
}

.products__card:hover .products__btn{
    visibility: visible;
}

.products__btn:hover{
    background: #0072C6;
}

.products__card .hidden{
    display: block;
}

.products__img{
    width: 90%;
    border-radius: 2px;
    margin-top: 5%;
    box-shadow: 0 0 1px 1px rgba(123, 144, 253, 0.2);
}

.products__card:hover{
    box-shadow: 0 0 10px 1px rgba(123, 144, 253, 0.2);
}



/*                                           Datos del artículo                                  */
.products__container__data{
    width: 90%;
    height: 100px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.Products__data__name{
    margin: auto;
    font-size: 20px;
}

.products__data__price{
    margin: 0;
    font-size: 24px;
    margin: 10px auto;
}

.products__btn__watch{
    background: #0072C6;
    color: white;
    width: 80%;
    height: 40px;
    margin: auto;
    border: none;
    border-radius: 20px;
    align-self: flex-end;
}

.products__btn__watch:hover{
    background: #FFA500;
    cursor: pointer;
}

@media (min-width: 1800px) {
       
    .products__btn{
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 1200px) {
       
    .products__card{
        width: 22%;
    }

    .hidden{
        display: none;
    }
}

@media (max-width: 840px) {
    .products__bar{
        width: 80%;
    }
    
    .products__container__line{
        width: 80%;
        flex-wrap: wrap;
    }
    
    .products__card{
        width: 40%;
    }
}

@media (max-width: 600px){
    
    .products__card{
        width: 45%;
    }
}

@media (max-width: 410px){
    .products__bar{
        width: 90%;
    }
    
    .products__container__line{
        width: 90%;
        flex-wrap: wrap;
    }
}

